body{
    background: #b1aaaa46;
}
.main{
    margin-top: 70px;
}
.main, .filter{
    text-align: center;
}

button{
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: #AAB1AA;
    color: black;
}

input{
    padding: 10px;
    border: none;
    border-radius: 5px;
}


.btns{
    display: flex;
    flex-direction: column;
    width: 150px;
    margin: 10px auto;
    gap: 5px;
}


.filter-btns{
    margin-top: 10px;
}