[submodule "daily-challenge"]
	path = daily-challenge
	url = https://github.com/telkelly/daily-challenge
[submodule "week4-day4-hangman-game"]
	path = week4-day4-hangman-game
	url = https://github.com/telkelly/week4-day4-hangman-game
[submodule "week4/week4-day4-hangman-game"]
	path = week4/week4-day4-hangman-game
	url = https://github.com/telkelly/week4-day4-hangman-game
