/* reset css */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* google fonts */

/* @import url("https://fonts.googleapis.com/css2?family=Sigmar&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

/* game-section */

html {
  height: 100%;
  background-color: #50c878;
  font-family: "Indie Flower", cursive;
}

body {
  width: 100vw;
  height: 100vh;
  /* font-family: "Sigmar", cursive; */
}

.game-section {
  margin: 40px auto;
}

.title-wrap {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 10px;
}

.title {
  font-size: 45px;
  font-weight: 500;
}

.scope{
  font-size: 18px;
}

.main-div {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 300px;
  padding: 30px;
  background-color: #f5f5dc;
  border-radius: 10px;
  box-shadow: inset 0px 0px 15px -5px rgba(0, 0, 0, 0.69);
}

.square {
  width: 75px;
  height: 75px;
  background-color: #be5a84e8;
}

.different {
  background-color: #c1379c;
  width: 75px;
  height: 75px;
}

.rules {
  margin: 40px auto 20px;
  width: 300px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
}

.rules-info {
  text-align: center;
  background-color: #7850c848;
  border: 3px ridge #C87850;
}

.rules-btn {
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  width: 30%;
  margin: 10px auto 0;
}

.game-over{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.try-again{
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background-color: black;
  color: white;
}
