.container{
    display: grid;
    grid-template-columns: repeat(2, 400px);
    grid-template-rows: repeat(4, 100px);
    gap: 30px;
}

.a, .c, .k{
    background-color: red;
}

.b, .g, .f{
    background-color: blue;
}

.p{
    background-color: yellow;
    grid-column: 1 / span 2;
}