/* reset CSS */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600&display=swap");
/* main CSS */
body {
  font-family: "Karla", sans-serif;
  height: 100vh;
}

nav {
  padding: 10px 0;
  display: flex;
  justify-content: center;
  background-color: #b0d595;
}

.input-country {
  width: 230px;
  padding: 8px 10px;
  border-radius: 5px;
  border: 1px solid gray;
}

.title {
  padding: 30px 0;
  font-size: 24px;
  text-align: center;
}

.weathers {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

.weather {
  /* border: 1px solid gray; */
  border-radius: 6px;
  padding: 20px 0;
  width: 220px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    3px 2px 6px 0px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 10px -5px #000000, 3px 2px 6px 0px rgba(0, 0, 0, 0);
}

.sunrise,
.sunset,
.wind {
  font-size: 16x;
  font-weight: 300;
}

.close,
.close-err {
  position: relative;
  right: -75px;
  top: -200px;
  opacity: 0.3;
}
.close:hover,
.close-err:hover {
  opacity: 1;
}
.close:before,
.close:after,
.close-err:before,
.close-err::after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 10px;
  width: 2px;
  background-color: #333;
}
.close:before,
.close-err:before {
  transform: rotate(45deg);
}
.close:after,
.close-err::after {
  transform: rotate(-45deg);
}

.country-name {
  font-size: 18px;
}

.temp {
  font-size: 30px;
}

.weather-description {
  padding-top: 15px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 12px;
}

.weather img {
  width: 90px;
}

.switcher{
  position: absolute;
  padding: 20px;

}

.error {
  background: rgb(253, 29, 29);
  background: linear-gradient(
    0deg,
    rgba(253, 29, 29, 0.7491909385113269) 16%,
    rgba(252, 176, 69, 0.49352750809061485) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  width: 220px;
  height: 200px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    3px 2px 6px 0px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 10px -5px #000000, 3px 2px 6px 0px rgba(0, 0, 0, 0);
}

.ops-err {
  font-size: 16px;
  font-weight: 700;
}

.close-err {
  position: relative;
  right: -70px;
  top: -130px;
  opacity: 0.3;
}

/* media-queries */

@media only screen and (min-width: 768px) {
  .weathers {
  flex-direction: row;
  flex-wrap: wrap;
}

.input-country {
  width: 300px;
  padding: 8px 10px;
  border-radius: 5px;
  border: 1px solid gray;
}
}